# 1.2 Shell Script in Cloud Shell

In [ ]:
'''
# Array of state codes
states=(
  AK AL AR AZ CO CT DC DE GA HI
  IA ID IL IN KS KY LA MA MD ME
  MI MN MO MS MT NC ND NE NH NJ
  NM NV OH OK OR RI SC SD TN UT
  VA VT WA WI WV WY
)

PROJECT="pstat-135-235-spring-2025"
DATASET="voterfile"

for state in "${states[@]}"; do
  TABLE="${PROJECT}:${DATASET}.${state}"

  # Check if the table exists
  if bq ls "${PROJECT}:${DATASET}" | awk '{print $1}' | grep -qw "$state"; then
    # Query row count and extract clean value
    ROWS=$(bq query --nouse_legacy_sql --format=csv \
      "SELECT COUNT(*) FROM \`${PROJECT}.${DATASET}.${state}\`" | tail -n 1)
    echo "$state: $ROWS rows"
  else
    echo "$state: Error, unable to count rows"
  fi
done
'''

The script first defines an array of state codes, the project name, and dataset name. It loops through each state, checks if the state table exists, queries the row count, and prints the result.

# 1.3 Voter Turnout SQL Query

In [ ]:
'''
SELECT
  2000 AS year,
  AVG(CASE WHEN General_2000 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2002 AS year,
  AVG(CASE WHEN General_2002 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2004 AS year,
  AVG(CASE WHEN General_2004 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2006 AS year,
  AVG(CASE WHEN General_2006 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2008 AS year,
  AVG(CASE WHEN General_2008 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2010 AS year,
  AVG(CASE WHEN General_2010 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2012 AS year,
  AVG(CASE WHEN General_2012 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2014 AS year,
  AVG(CASE WHEN General_2014 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2016 AS year,
  AVG(CASE WHEN General_2016 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

UNION ALL

SELECT
  2018 AS year,
  AVG(CASE WHEN General_2018 = 'Y' THEN 1.0 ELSE 0 END) AS turnout
FROM `pstat-135-235-spring-2025.voterfile.AK`

ORDER BY year;
'''

The SQL query returns two columns, `year` and `turnout`, which are the year and turnout rate respectively.